{{ define "main" }}
<div class="">
    {{ range .Paginator.Pages }}
    <article class="mb-20">
        <header class="mb-4">
            <h2 class="entry-title duration-700 hover:text-yellow-500 hover:underline"><a
                    href="{{.Permalink}}">{{.Title}}</a></h2>
            <div class="text-base text-gray-700">
                <time>{{.Date.Format "2006-01-02"}}</time>
                ·
                <span>{{.ReadingTime}} Minutes</span>
            </div>
        </header>
        <div class="mb-4 text-gray-700">{{ .Summary }}</div>
    </article>
    {{ end }}
</div>

{{ end }}