{{ define "main" }}
<div>
    {{ range (.Paginator 1).Pages }}
    <article class="mb-20">
        <header class="mb-4">
            <h2 class=" entry-title mb-2"><a href="{{.Permalink}}">{{.Title}}</a></h2>
            <div class="text-base text-gray-700 flex">
                <time>{{.Date.Format "2006-01-02"}}</time>
                <span class="px-2">·</span>
                <span>{{.ReadingTime}} Minutes</span>
            </div>
        </header>
        <div class="entry-content">{{ .Content }}</div>
    </article>
    {{ end }}

</div>

{{ end }}