{{ define "main" }}
<div class="">
    {{ range .Paginator.Pages }}
    <article class="mb-20">
        <header class="mb-4">
            <h2 class="entry-title"><a href="{{.Permalink}}">{{.Title}}</a></h2>
            <div class="text-base text-gray-700 flex">
                <time>{{.Date.Format "2006-01-02"}}</time>
                <span class="px-2">·</span>
                <span>{{.ReadingTime}} Minutes</span>
            </div>
        </header>
        <div class="entry-content">{{ .Summary }}</div>

        <div><a href="{{.Permalink}}" class="underline text-base text-gray-700">查看全文</a></div>
    </article>
    {{ end }}
    {{ template "_internal/pagination.html" . }}
</div>

{{ end }}