<header class="lg:absolute bottom-0 left-0 px-10 py-20">
    <h1 class="text-5xl leading-normal mt-2 font-bold mb-3 text-white">{{.Site.Title}}</h1>
    <p class="text-lg text-white">假如这里有坚固的高墙和撞墙破碎的鸡蛋，我总是站在鸡蛋一边。</p>
</header>

{{/*  <span class="text-xs text-white px-10">Photo by <a
        href="https://unsplash.com/@markolsen?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Mark
        Olsen</a> on <a
        href="https://unsplash.com/?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span>  */}}