<header class="px-4 relative h-full flex justify-center">
    <div class="flex flex-col items-center py-16">
        <img src="https://pic4.zhimg.com/80/v2-9923fb71e051705970c22dc76ae16704_1440w.jpg" class="block w-32 h-32 rounded-full mb-4">
        <h1 class="text-3xl leading-normal mt-2 font-bold mb-3"><a href="/">{{.Site.Title}}</a></h1>
        <p class="text-gray-700 text-lg">一切都消失在迷雾中了。过去给抹掉了，而抹掉本身由于被遗忘了，谎言便变成了真话。</p>
    </div>
    <div class="hamburger-menu" id="menuButton">
        <div class="bar top"></div>
        <div class="bar middle"></div>
        <div class="bar bottom"></div>
    </div>
    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search fixed z-20" style="right:1.4rem;top:1.4rem;" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
        <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
      </svg>
</header>

<div class="bg-white fixed top-0 left-0 z-10 h-screen w-full hidden flex justify-center items-center" id="overlay">
    <nav class="flex flex-col">
        <a href="/" class="py-3">Home</a>
        <a href="/resources" class="py-3">Resources</a>
        <a href="/about" class="py-3">About</a>
    </nav>
</div>